@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Gothic+A1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html {
    font-size: 62.5%;
    font-family: "Inter", sans-serif;
}


* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

ul,
li {
    list-style: none;
}

section {
    position: relative;

}

h1 {
    font-family: "Do Hyeon", serif;
    font-size: 4.5rem;
    letter-spacing: -4%;
    color: black;
    line-height: 5.5rem;
}

h2 {
    font-family: "Do Hyeon", serif;
    font-size: 3.3rem;
    letter-spacing: -4%;
    color: black;
    line-height: 3.3rem;
}

p {
    font-family: "Gothic A1", serif;
    font-weight: 400;
    font-size: 1.3rem;
    letter-spacing: -4%;
}

.rel {
    z-index: 1;
    height: 100%;
    position: relative;
    padding: 6rem 5rem;
}

.b_shadow {
    box-shadow: 0 .2rem .2rem rgba(0, 0, 0, 0.25);

}

.bar {
    width: 9rem;
    height: 0.1rem;
    background-color: #F56444;
}

.menu {
    width: 24.5rem;
    background-color: #EEE;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.9rem;
    height: 2.4rem;
    font-family: "Inter", serif;
    font-weight: 500;
}